@using ContactsManagement.Enums
@model UserModel

@{
    ViewData["Title"] = "Add user";
}

<div class="text-center">
    <h1 class="display-4">Add user</h1>
</div>


<form asp-controller="User" asp-action="Create" method="post">

    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter user name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Enter user e-mail">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Enter user login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="form-group">
        <label for="userType" class="form-label">User Type</label>
        <select asp-for="UserType" class="form-control">
            <option value="">Select</option>
            <option value="@UserType.Admin" >Administrator</option>
            <option value="@UserType.Regular" >Regular</option>
        </select>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter user password">
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Add</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Contact" role="button">Back</a>

</form>
