@using ContactsManagement.Enums
@model UserModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="text-center">
    <h1 class="display-4">Edit User</h1>
</div>

<form asp-controller="User" asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter user name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Enter user e-mail">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Enter user login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label for="user-type" class="form-label">User Type</label>
        <select asp-for="UserType" class="form-control">
            <option value="">Select</option>
            <option value="@UserType.Admin">Administrator</option>
            <option value="@UserType.Regular">Regular</option>
        </select>
        @Html.ValidationMessageFor(x => x.UserType)
    </div>

    <div class="mb-2">
        <button type="submit" class="btn btn-primary col-12">Save</button>
    </div>

    <div class="mb-4">
        <a class="btn btn-secondary col-12" asp-controller="User" asp-action="Index" role="button">Back</a>
    </div>

</form>
